<header>

    <div class="container-fluid header-container">
        <div class="row">


            <div class="col-5 col-md-2">
                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg" alt="">
                </a>
            </div>


            <div class="col-7 col-md-6">
                <form action="">
                    <input type="text" placeholder="Buscar productos, marcas y mas">
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>

            <div class="col-12 col-md-4 div-cuotas">
                <a href="" class="cuotas">
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </a>
            </div>

        </div>

        <!-- BARRA DE NAVEGACION -->
        <nav class="navbar-expand-md">
            <button class="navbar-toggler burger" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="menu navbar-nav mr-auto">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul class="usuario navbar-nav ml-auto">
                    <li><a href="">Creá tu cuenta <i class="far fa-address-card "></i></a></li>
                    <li><a href="">Ingresá <i class="fas fa-sign-in-alt "></i></a></li>
                    <li><a href="">Mis compras <i class="fas fa-shopping-basket "></i></a></li>
                </ul>
            </div>
        </nav>

    </div>

</header>